#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}

.square {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.image {
  object-fit: cover;
}

.button {
  background-color: grey;
}

.button:hover{
  background-color: rgb(147, 228, 147);
  border: 0;
}
